*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #faeaea;
}

.content-center{
   width: 100%;
   max-width: 300px;
   margin: auto;
   padding: 20px;
   background-color: #fff;
   border-radius: 10%;
  
}

.content-center .text-center{
    text-align: center;

}
.content-center img{
    width: 70%;
}

.content-center form{
    margin: 20px;
}

.content-center input,
.content-center button{
    width: 100%;
    padding: 10px 5px;
    border-radius: 5px;
    margin-bottom: 5px;
    border: none;
    outline: none;
 
}

.content-center input{
    border-bottom-color: #ebdbcd;
    border-bottom-style: solid;
    border-block-end-width: 2px;
}

.content-center input:focus{
    border-bottom-color: #d4873e;
    
}

.content-center button{
    background-color: #d4873e;
    color: #fff;
}

.content-center button:hover{
    background-color: #864c16;
    cursor: pointer;
}

.content-center button:active{
    background-color: #4d2e12;
   
}

.content-center h6{
    text-align: center;
    color: blue;
}

header a{
    text-decoration: none;
    color: #666;
}

header a:visited{
    color: #1f147c; 
}

header a:hover{
    text-decoration: underline;
}

header a:focus{
    color: red;
}

header a:active{
    color: yellow;
}

header h1{
    font-size: 2.5em;
    text-align: center;
    margin: 50px auto;
}

footer {
    font-size: .8em;
    text-align: center;
    padding-top: 20px;
    outline: none;
    text-decoration: none;
}